.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 20;
    @include flex-row (center, center);
    background-color: rgba(0, 0, 0, 0.5);
    
    .modal {

        background-color: white;
        
        .modal-header {
            border-radius: 0.5em 0.5em 0 0;
            background-color: $main-color;
            padding: 0.5em 1em;
            @include flex-row(flex-end, center);
        }

        .modal-body {
            padding: 2em;
            @include flex-row(center, center);
        }
        
        .modal-footer {
            padding: 1em 3em;
            @include flex-row(space-around, center);
            background-color: white;
            border-radius: 0 0 0.5em 0.5em;
        }
    }

}