.container {
    margin-top: -40px;
}

.card {
    width: calc(100% - 2em);
    border-radius: 0.5em;
    background-color: white;
    margin: 0.5em 1em 1em;
    padding: 1em;

    &.w-60 {
        width: 60%;
        margin: 0.5em auto 1em;
    }

    hr {
        border: none;
        height: 1px;
        background-color: $color-font;
    }
}

.fila {
    width: 100%;
    padding: 0.5em;
    @include flex-row(flex-start, center);

    &.end {
        @include flex-row(flex-end, center);
    }

    &.inicio {
        @include flex-row(center, flex-start);
    }
}

.col-100 {
    width: 100%;
    padding: 0.5em;
    @include flex-row(flex-start, center);
    position: relative;

    &.titulo {
        @include flex-row(space-between, center);
    }

    &.centrado {
        @include flex-row(center, center);
    }

    &.pila {
        @include flex-column (flex-start, flex-start);
    }

    &.botones {
        @include flex-row(flex-end, center);
    }
}

.col-66 {
    width: 66.6666666%;
    padding: 0.5em;
    @include flex-row(flex-start, center);

    &.pila {
        @include flex-column (flex-start, flex-start);
    }
}

.col-50 {
    width: 50%;
    padding: 0.5em;
    @include flex-row(flex-start, center);

    &.pila {
        @include flex-column (flex-start, flex-start);
    }
}

.col-33 {
    width: 33.3333333%;
    padding: 0.5em;
    @include flex-row(flex-start, center);

    &.pila {
        @include flex-column (flex-start, flex-start);
    }
}

